@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;700&display=swap');

section.module.parallax-5 {
  background-image: url('../assets/geral_09-compressed.jpg');
  background-position: 70% 80%;
}

section.module.parallax-5 > h1 {
  margin-top: 450px;
}

@media (max-width: 800px) {
  section.module.parallax-5 {
    background-position: 50% 50%;
  }
}